html {
  font-size: 20px;
}

body {
  font-family: "Lato";
  font-color: white;
  overflow: hidden;
}

.navbar {
  background-color: #58bac3;
  color: white;
  border: none;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 2rem;
  padding-top: 0.2rem;
}

.navbar .navbar-text {
  color: white;
  font-weight: bold;
}

.main-title {
  padding-left: 2rem;
}

button {
  border: none;
  width: 2rem;
  height: 2rem;
  outline: none;
  padding: 0.2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: inherit;
}

.btn-big {
  width: 4rem;
  height: 4rem;
}

#main-button-back {
  background-image: url(../img/icon/back.png);
}

#main-button-add {
  background-image: url(../img/icon/add.png);
}

#btn-type-select-facility {
  background-image: url(../img/icon/udogodnienia.png);
}

#btn-type-select-obstacle {
  background-image: url(../img/icon/przeszkody.png);
}

#btn-type-select-failure {
  background-image: url(../img/icon/awaria.png);
}

#btn-obs-nierownosci {
  background-image: url(../img/icon/nierownosci.png);
}

#btn-obs-pochylosc {
  background-image: url(../img/icon/pochylosc.png);
}

#btn-obs-prznad {
  background-image: url(../img/icon/przejscienadziemne.png);
}

#btn-obs-schody {
  background-image: url(../img/icon/schody.png);
}

#btn-obs-kraweznik {
  background-image: url(../img/icon/wysokikraweznik.png);
}

#btn-fac-poch {
  background-image: url(../img/icon/pochylnia.png);
}

#btn-fac-pod {
  background-image: url(../img/icon/podnosnik.png);
}

#btn-fac-kraw {
  background-image: url(../img/icon/przyjaznykraweznik.png);
}

#btn-fac-winda {
  background-image: url(../img/icon/winda.png);
}

section#main-map {
  height: 100vh;
  margin-top: 50px;
}

.action > section#main-map {
  height: 50vh;
}

section.action-section {
  height: 50vh;
  background-color: white;
  position: relative;
}

.action-add > section#main-add {
  z-index: 10;
}

.action-details > section#main-details {
  top: -50vh;
  z-index: 20;
}

.action-section header {
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  background-color: #58bac3;
  color: white;
  font-size: 1.1rem;
}

.type-select {
  text-align: center;
  margin-top: 1rem;
}

.select-facility #main-add-type-select,
.select-obstacle #main-add-type-select,
.select-failure #main-add-type-select {
  display: none;
}

.select-facility #main-add-obstacle,
.select-failure #main-add-obstacle,
.select-type #main-add-obstacle {
  display: none;
}

.select-facility #main-add-failure,
.select-obstacle #main-add-failure,
.select-type #main-add-failure {
  display: none;
}

.select-obstacle #main-add-facility,
.select-failure #main-add-facility,
.select-type #main-add-facility {
  display: none;
}

